<a href="https://colab.research.google.com/github/vivekpenuli/chi-squared-test/blob/master/chi_squared_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
url='https://raw.githubusercontent.com/vivekpenuli/chi-squared-test/master/tips.csv'
df=pd.read_csv(url)

In [2]:
df.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
dataset_table=pd.crosstab(df['smoker'],df['sex'])
print(dataset_table)

sex     Female  Male
smoker
No          54    97
Yes         33    60

In [4]:
dataset_table.values # curent table

array([[54, 97],
       [33, 60]])

In [5]:
import scipy.stats as stats

In [7]:
stat, p, dof, expected = stats.chi2_contingency(dataset_table)
print('dof=%d' % dof)

dof=1

In [11]:
print(expected) # whic we want
print(" ")
print("the statistic calculation is ",stat)  # after soing (observed-expected )^2/ecpected

[[53.84016393 97.15983607]
 [33.15983607 59.84016393]]

the statistic calculation is  0.008763290531773594

In [17]:
alpha=0.05
critical_value=stats.chi2.ppf(q=1-alpha,df=dof)   # this is used to find critical value
print('critical_value:',critical_value)

critical_value: 3.841458820694124

In [ ]:
print(p)  #p-value

0.925417020494423

In [29]:
p_value=1-stats.chi2.cdf(x=stat,df=dof)
print('p-value:',p_value)
print('Significance level: ',alpha)
print('Degree of Freedom: ',dof)

p-value: 0.925417020494423
Significance level:  0.05
Degree of Freedom:  1

In [31]:

if stat>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")
    
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables
Retain H0,There is no relationship between 2 categorical variables